<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibrice.moodr">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Moodr">
        <activity
            android:name=".splash.SplashScreen"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".habits.ViewHabitsActivity"
            android:exported="false"
            android:label="@string/title_activity_view_habits"
            android:theme="@style/Theme.Moodr.NoActionBar" />
        <activity
            android:name=".reports.ReportsHabitsActivity"
            android:exported="false"
            android:label="@string/title_activity_reports_habits"
            android:theme="@style/Theme.Moodr.NoActionBar" />
        <activity
            android:name=".reports.ReportsThreeGoodThingsActivity"
            android:exported="false"
            android:label="@string/title_activity_reports_three_good_things"
            android:theme="@style/Theme.Moodr.NoActionBar" />
        <activity
            android:name=".reports.ReportsDiaryActivity"
            android:exported="false"
            android:label="@string/title_activity_reports_diary"
            android:theme="@style/Theme.Moodr.NoActionBar" />
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".habits.CreateHabitsActivity"
            android:exported="false" />
        <activity
            android:name=".threegoodthings.ThreeGoodThingsActivity"
            android:exported="false" />
        <activity
            android:name=".reports.ReportsActivity"
            android:exported="false" />
        <activity
            android:name=".diary.InputActivity"
            android:exported="false" />
        <activity
            android:name=".diary.CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".mainscreen.MainActivity"
            android:exported="true" />

        <receiver android:name=".notifications.NotificationReciever" />
    </application>

</manifest>